{% import '_macros.html' as macros %}

<div class="table__header order-details__table-header d-none d-sm-block">
    <div class="row">
        <div class="col-md-8">
            <small>
                {% trans %}Product{% endtrans %}
            </small>
        </div>
        <div class="col-md-2 text-right">
            <small>
                {% trans %}Quantity{% endtrans %}
            </small>
        </div>
        <div class="col-md-2 text-right">
            <small>
                {% trans %}Price{% endtrans %}
            </small>
        </div>
    </div>
</div>

{% for line in order.lines %}
<div class="table__row order-details__product{% if loop.last %} order-details__last-row{% endif %}">
    <div class="row">
        <div class="col-md-8">
            <a class="link--clean" href="{% if line.variant %}{{ line.variant.get_absolute_url() }}{% endif %}">
                <img class="float-left lazyload lazypreload" src="{{ line.variant.product.first_img }}" width="60">
                <span class="order-details__product__description">{{ line.product_name }}</span>
            </a>
        </div>
        <div class="col-md-4">
            <div class="row">
                <div class="col-md-6 col-12">
                    <p class="float-right">x {{ line.quantity }}</p>
                </div>
                <div class="col-md-6 col-12">
                    <p class="float-right">
                        ${{ line.get_total() }}
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}

<div class="table__row">
    <div class="row">
        <div class="col-8 order-details__table-footer">
            <p>
                {% trans %}Subtotal{% endtrans %}
            </p>
        </div>
        <div class="col-4">
            <p class="float-right">
                ${{ order.total_net }}
            </p>
            <br>
        </div>
    </div>
</div>

{% if order.is_shipping_required %}
<div class="table__row">
    <div class="row">
        <div class="col-8 order-details__table-footer">
            <p>
                {% trans %}Shipping{% endtrans %}
                ({{ order.shipping_method_name}})
            </p>
        </div>
        <div class="col-4">
            <p class="float-right">
                ${{ order.shipping_price_net }}
            </p>
        </div>
    </div>
</div>
{% endif %}

{% if order.discount_amount %}
<div class="table__row">
    <div class="row">
        <div class="col-8 order-details__table-footer">
            <p>{{ order.discount_name }}</p>
        </div>
        <div class="col-4">
            <p class="float-right">
                -${{ order.discount_amount  }}
            </p>
        </div>
    </div>
</div>
{% endif %}

<div class="order-details__total">
    <div class="row">
        <div class="col-8 order-details__table-footer">
            <div class="total">
                <h3>{% trans %}Total{% endtrans %}</h3>
            </div>
        </div>
        <div class="col-4">
            <p class="float-right">
                ${{ order.total  }}
            </p>
        </div>
    </div>
</div>

<div class="order-details__addresses">
    <div class="row">
        <div class="col-6">
            {% if order.is_shipping_required %}
            <h3>
                {% trans %}Shipping address{% endtrans %}
            </h3>
            <!-- Task 2.2 XSS - Format address -->
            {{ macros.format_address(order.shipping_address )}}
            {% endif %}
        </div>
        {% if order.status_human == "unfulfilled" %}
        <div class="col-6 d-flex flex-column align-items-end">
            <span class="float-right">{% trans %}Please pay before 00:30, else the order will auto closed{% endtrans %}</span>
            <a href="{{ url_for('order.ali_pay', token=order.token) }}" class="btn btn-primary float-right">
                {% trans %}Alipay{% endtrans %}
            </a>
            <!-- Task 3.5 - Paypal Button from Paypal SDK -->
            <div style="width: 60%; height: 55px;">
                <div id="paypal-button-container"
                    class="paypal-button-container"
                    data-order-token="{{ order.token }}">
                </div>
                <p id="error-message"></p>

                <script src="https://www.paypal.com/sdk/js?client-id={{ config.PAYPAL_CLIENT_ID }}&buyer-country=US&currency=USD&components=buttons&disable-funding=credit,card,venmo"></script>
            </div>
            <a href="{{ url_for('order.test_pay_flow', token=order.token) }}" class="btn secondary float-right">
                {% trans %}Pay for test{% endtrans %}
            </a>
            <a href="{{ url_for('order.cancel_order', token=order.token) }}" class="btn danger float-right">
                {% trans %}Cancel Order{% endtrans %}
            </a>
        </div>
        {% elif order.status_human == "shipped" %}
        <div class="col-6">
            <span class="float-right">{% trans %}this order will auto received after 1 day{% endtrans %}</span>
            <a href="{{ url_for('order.receive', token=order.token) }}" class="btn btn-primary float-right">
                {% trans %}Confirm receipt{% endtrans %}
            </a>
            <!-- Task 3.6. Cancel & Return Button -->
            <a href="#" id="cancelReturnBtn" data-token="{{ order.token }}" class="btn danger float-right">
                {% trans %}Cancel & Return{% endtrans %}
            </a>
        </div>
        <!-- Task 3.6. Timer and printing shipping label button -->
        {% elif order.status_human == "canceled" %}
        <div class="col-6">
            {% if order.order_return %}
                <div class="d-flex flex-column">
                    <p class="d-flex justify-content-end mb-1">
                        <strong>Return Status:&nbsp;</strong>
                        <span>{{ order.order_return.status_label }}</span>
                    </p>
                    <div id="returnTimer" class="d-flex justify-content-end mb-3" style="color: #dc3545; font-weight: bold;" data-cancellation-time="{{ order.order_return.cancellation_time.isoformat() if order.order_return.cancellation_time else '' }}">
                        Time since cancellation:&nbsp;
                        <span id="timerDisplay" style="font-weight: normal;">--:--:--</span>
                    </div>
                    {% if order.order_return.status_human == "label_created" %}
                    <div class="d-flex justify-content-end">
                        <a href="#" id="cancelReturnBtn" data-token="{{ order.token }}" class="btn btn-primary">
                            {% trans %}Print return shipping label{% endtrans %}
                        </a>
                    </div>
                    {% endif %}
                </div>
            {% else %}
                <p class="float-right">This order was canceled.</p>
            {% endif %}
        </div>
        {% endif %}
    </div>
</div>

<!-- Task 3.6 - Loading Spinner -->
<div id="loadingSpinner" style="display: none;">
    <div class="loading-spinner"></div>
    <p class="loading-text">Processing your return...</p>
</div>

<!-- Task 3.6 - Modal to show shipping label after generation -->
<div id="labelModal" class="modal" style="display: none;">
    <div class="modal-content">
        <h3>Return Shipping Label</h3>
        <div class="label-container">
            <img id="labelImage" src="" alt="Shipping Label" />
        </div>
        <div class="modal-buttons">
            <button id="printSendBtn" class="btn btn-primary">Print & Send</button>
            <button id="closeModalBtn" class="btn secondary">Close</button>
        </div>
    </div>
</div>
