{% from 'bootstrap5/form.html' import render_field %}
<form method="post" action="" id="loginForm" novalidate>
  <fieldset>
    {{ form.csrf_token }}
    <!-- Task 3.2 - Change form field in the login page, add case when the page is force reset password -->
    {% if force_reset %}
      {{ render_field(form.new_password) }}
      {{ render_field(form.confirm_password) }}
    {% elif reset %}
      {{ render_field(form.username) }}
    {% else %}
      {{ render_field(form.username) }}
      {{ render_field(form.password) }}
    {% endif %}
  </fieldset>
  <div class="row login__btn-group">
    <div class="col-sm-12">
      <button class="btn btn-primary narrow" type="submit">
        <!-- Task 3.2 - Change button in the login page, add case when the page is force reset password -->
        {% if force_reset or reset %}
          {% trans %}Reset Password{% endtrans %}
        {% else %}
          {% trans %}Log in{% endtrans %}
        {% endif %}
      </button>
      {% if not reset %}
      <a rel="nofollow" class="link--styled" href="{{ url_for('account.resetpwd') }}">
        {% trans %}Forgot password?{% endtrans %}
      </a>
      {% endif %}
      <hr>
      <div class="row">
        <div class="col-sm-6 col-md-12 col-xl-6">
          <a class="btn social-btn facebook" href="">
            <svg data-src="{{ url_for('static', filename='img/facebook-logo.svg') }}" width="18" height="18" />
            <small>Facebook</small>
          </a>
        </div>
        <div class="col-sm-6 col-md-12 col-xl-6">
          <a class="btn social-btn google" href="">
            <svg data-src="{{ url_for('static', filename='img/google-logo.svg') }}" width="18" height="18" />
            <small>Google</small>
          </a>
        </div>
      </div>

    </div>
  </div>
</form>
